/* CSS Document */

@media (min-width:320px) {
.container {
	width: 100%;
	padding: 0px 20px;
}
}
@media (min-width:768px) {
.container {
	width: 750px;
	padding: 0
}
}
@media (min-width:991px) {
.container {
	width: 980px;
}
}
 @media (min-width:1200px) {
.container {
	width: 1100px;
}
}
 @media (min-width:1280px) {
.container {
	width: 1100px;
}
}
@media (min-width:1366px) {
.container {
	width: 1100px;
	padding: 0
}
}
@media (max-width:1365px) {
}
@media (max-width:1280px) {
#blog_section .blog {
	background: url(../images/blog_bg.png) no-repeat top center;
	float: left;
	width: 100%;
	background-size: cover;
}
}
 @media (max-width:1200px) {
nav ul li a {
    padding: 0 16px;
}
}
 @media (max-width:1095px) {
	 .da-slide .da-img {
    text-align: center;
    width: 46% !important;
    top: 0px;
    height: 256px;
    line-height: 320px;
    left: 110%;
}
nav ul li a {
    padding: 0 16px;
}
}
@media (max-width:1024px) {

#right_panel{
	margin-right:0
	}


.header-bottom .logo{
	width:30%
	}
#header.custom_shirt_header .header-bottom{
	padding:2px 0 !important
	}
.header-bottom .logo{
	margin:10px
	}	
.header-bottom{
	border-bottom:none
	}
#viewport{
	padding:0
	}
#shirt_viewport{
	right: 0;
}
nav ul li a {
    padding: 0 16px;
}
												 
}
@media (max-width:991px) {
nav ul li a {
	padding: 0 4px;
	font-size:13px;
}
#header.custom_shirt_header .header-bottom{
	padding:2px 0 !important
	}

.header-bottom .logo{
	margin-top:10px
	}
#viewport{
	padding:0 !important
	}
.header-bottom .top_menu ul li a{
	font-size:12px
	}	
#shirt_viewport{
	height:86%
	}
	
	
/*--24.8.2016 --*/
#viewport .stepsbar_wrapper{
		 position:absolute;
		 bottom:0;
		 left:50%;
		 width:61%;
		height:auto;
		z-index:999999999999
		 }
#viewport .steps_bar{
		height:115px;
		width:100%;
		}
#viewport .steps_bar .steps_scroll{
		text-align:center
		}	
#viewport .steps_bar .steps_scroll li{
		display:inline-block;
		width:115px
		}
#viewport .stepsbar_wrapper .stepsbar_inner_wrapper	{
	left:-50%;
	width:50%
	}	
#shirt_viewport{
	position:relative;
	right:inherit;
	top:inherit;
	margin:0 auto
	}	
.shirtHolder ul li img{
	height:82%
	}
.shirtHolder ul{
	width:32%
	}
.shirtHolder ul li{
	left:;
	right:
	}
#viewport .stepsbar_wrapper{
	bottom:3px
	}
#viewport .steps_bar{
	height:100px
	}
#viewport .steps_bar .steps_scroll li{
	width:100px;
	height:90px;
	}
#viewport .steps_bar .steps_scroll li img{
	max-width:77%
	}
#popups{
	/*width:100%;
	height:100%;*/
	float:none
	}	
#popups .popup{
	top:100% ;
	left:0
	}	
/* addeed on 31.8.2016 */
#popups  .responsive_close.close{
	display:block !important;
	}
#popups  .default_close.close{
	display:none !important;
	}	
.shirtControls{
	position:absolute;
	left:50px;
	top:35%;
	z-index:9999;
	}
.shirtControls ul{
	text-align:left
	}	
.shirtControls ul li{
	margin:8px 0
	}
.shirtControls{
	width:auto
	}							
.shirtControls ul li{
	display:block
	}	
.arrow{
	/*left:0 !important;
	bottom:80px !important;
	animation:rotateImg2 2s infinite;
	right:inherit*/
	display:none
	}						
}
 @media (max-width:880px) {
	 #viewport .stepsbar_wrapper{
		 width:70%
		 }
}
@media (max-width:815px) {
}

@media (min-width:988px) and (max-width:1300px) {
#rated_area {
    background-size: 55% auto;
    display: inline;
    padding: 20px 0 70px;
}

.left_container {
    height: 100%;
}
.left_container img{
    height: 100%;
}
#season_sale .season_sale_inner .s_container_left {
    display: none;
}
#season_sale {
    display: table;
}
#season_sale .season_sale_inner .s_container_right {
    display: table;
    float: right;
    height: 100%;
    padding: 40px 4% 40px 5%;
    text-align: right;
    width: 47%;
}
#rated_area h2 {
	line-height: 57px;
}
#rated_area p {
	margin-bottom: 10px;
	padding: 0 5px;
	margin-top: 0;
	line-height: 27px;
}
a.black_btn {
	padding: 15px 19px;
}
#rated_area .content {
	width: 45%;
}
#season_sale {
	background-size: 55%;
	padding: 20px 0 0 0;
	background: url(../images/season_pic.png) no-repeat 65px 30px;
	height:auto;
}
#season_sale h2 {
	font-size: 2rem;
	line-height: 46px;
}
#season_sale p {
	margin-bottom: 10px;
	padding: 0 5px;
	margin-top: 0;
	line-height:32px;
}
#season_sale a.black_btn {
	padding: 15px 19px;
}
#season_sale .content {
	width: 38%;
	margin-bottom: 26px;
}
/**** ALOKE ****/
.col-main .post-list .item.image {
    float: left;
    margin-right: 20px;
    width: 46%;
}

#blog_section .why_about .about {
    padding: 10.7% 34px; 
}
#testimonial .nbs-flexisel-nav-left {
    top: 180px !important;
}
#testimonial .nbs-flexisel-nav-right {
    top: 180px !important;
	right: 44% !important;
}
.toolbar .pager {
    float: right;
    overflow: visible;
    width: 33%;
}


}

@media (min-width:1281px) and (max-width:1350px) {
#blog_section {
    background: #151515 none repeat scroll 0 0;
    display: inline;
   /* height: 100%;*/
}
/*#season_sale {
    height: 100%;
}
#rated_area {
    height: 90%;
}*/

}
/*@media (min-width:1300px) and (max-width:1360px) {
#season_sale {
    height: 100%;
}
#rated_area {
    height: 90%;
}
}
*/
/**** ALOKE ****/
@media (min-width:769px) and (max-width:987px) {
.col-main .post-list .item.image {
    float: left;
    margin-right: 20px;
    width: 46%;
}
}
@media (max-width:987px) {
	
#rated_area {
	background: url(../images/rated_pic.jpg) no-repeat center center;
	padding: 50px 0 46px 0;
	background-size: cover;
}
#rated_area .content {
	width: 100%;
	background: rgba(250,250,250, 0.8);
	padding: 21px 13px 31px 10px;
	margin: 0 auto;
	float: none;
	text-align: center;
}
.content h2 {
	
}
#rated_area a {
	float: none;
}
#rated_area h2::before {
	width: 60%;
left: 20%;
}
#season_sale {
	padding: 50px 0 46px 0;
	background-size:cover !important;
	background: url(../images/season_pic.png) no-repeat 100px 70px;
	width: 100%;
	background-position: center center;
	height:100%;
}
#season_sale .season_sale_inner {
    display: block;
}
#season_sale .content {
	width: 100%;
	background: rgba(0,0,0, 0.5);
	padding: 21px 13px 31px 10px;
	margin: 0 auto;
	float: none;
	text-align: center;
}
#season_sale h2::before {
	width: 60%;
	left: 20%;
}
#season_sale p {
	color: #fff;
}
#season_sale h2 {
	color: #fff;
}
#season_sale a.trans_btn {
	padding: 15px 26px;
	border: 1px solid #fff;
	color: #fff;
	background: tranparent;
}
#season_sale h2::before {
	background: #fff;
}
body,html{
	font-size:14px !important
	}
}
@media (min-width:768px) and (max-width:1280px) {
#blog_section .why_about {
	width: 100%;
	float: right;
}
#blog_section .why_about .why {
	background: url(../images/why_pic.png) no-repeat right center;
	padding: 10% 20px 7.6%;
	width: 43%;
	float: left;
	min-height: 300px;
	max-height: 300px;
}
#blog_section .why_about .about {
	background: #151515;
	color: #fff;
	width: 57%;
	min-height: 300px;
	max-height: 300px;
	padding: 7% 20px 6.6%;
}
#blog_section .title {
	position: relative;
	left: 11px;
}
.how-it-works-box {
    float: left;
    margin-right: 22px;
    padding: 15px;
    width: 30%;
}
}
@media (max-width:768px) {
#blog_section .why_about .why {
	background-position: center;
}
#blog_section .title {
	font-size: 1.488rem;
	color: #2a2a2a;
	position: relative;
	left: 13px;
	top: 23px !important;
}
#blog_section .why_about {
	width: 100%;
}
#blog_section .why_about .why {
	background: url(../images/why_pic.png) no-repeat center center;
	background-size: cover;
}
body, html {
	font-size: 15px;
}
.da-slide h2 {
	position: absolute !important;
	line-height:55px !important
}
.da-slide p {
	display: none;
}
.da-slide .da-link {
	position: absolute !important;
	left: 0px !important;
    right: 0px !important;
    width: 50%;
	top:350px !important
}
.da-dots{
	text-align:center !important;
	padding-left:0 !important
	}
.da-slide h2{
	left:0 !important;
	right:0 !important
	}
.nbs-flexisel-nav-right{
	right:-12px !important
	}
#testimonial .nbs-flexisel-nav-right{
	right:46% !important;
	}

	
ul.menu {
	display: none;
}
.menu-button {
	display: block;
	text-align: center;
	width:40px;
	height:40px;
	padding:5px
}
.menu a {
	text-align: center;
	color: rgb(255, 255, 255);
	padding: 10px;
}
.menu-button i {
	border: 1px solid rgb(255, 255, 255);
	padding: 5px 10px;
	cursor: pointer;
	color: #fff;
}
nav{
	padding:10px 0
	}
.menu-bar li{
	border-bottom: 1px solid #3d3d3d;
	}
.menu-bar li a{
	line-height:46px
	}	
 #viewport .stepsbar_wrapper{
		 width:81%
		 }
#popups .popup .popup_inner .popup_body ul li .productImg img.easy_iron{
	
	right:-10px;
	}
/************ ALOKE ******************/
.product-view .product-img-box {
    float: left;
    width: 100%;
}
.product-view .product-shop {
    float: right;
    width: 100%;
}
.product-view .add-to-cart-wrapper {
    width: 100%;
}
.col-main .post-list .item.image {
    float: none;
    margin-right: 25px;
    width: 100%;
}
.checkout-onepage-index .col-main .form-list ul {
    width: 100% !important;
}
.wordpress-post-view .comments-wrapper .fieldset ul li .input-box input {
    width:100%;
}
.wordpress-post-view .comments-wrapper .fieldset ul li .input-box textarea {   
    max-width: 100%;
}
/************ ALOKE END ******************/
/******************  RANIT 2-08-16  *********************/
#addto_Inner{
	width: 90%;
	padding: 10px 10px 2px 10px;
}
.prevImg {
    width: 50%;
    height: auto;
    padding: 0px;
}

.prevInfo {
    width: 48%;
    height: auto;
    padding: 10px 0;
}
.block-layered-nav .block-subtitle--filter {
    background-color: #efefef;
    border: 1px #cccccc solid;
}
.block-layered-nav .block-subtitle--filter:hover {
    background-color: #000 !important;
    border: 1px #2f2f2f solid;
}
.product-collateral > dl > dt::after {
    border-color: transparent -moz-use-text-color transparent #000;
}
.product-collateral > dl > dt:hover {
    color: #222;
}
.product-collateral.accordion-open > dl > dt.current::after {
    border-color: #222 transparent -moz-use-text-color;
    border-style: solid solid none;
    border-width: 4px 4px medium;
}
.how-it-works-box {
    float: left;
    margin-right: 22px;
    padding: 15px;
    width: 30%;
}

}
@media (max-width:730px) {
 	/********** ALOKE END **********/
.contact-from-div {
    float: left;
    padding-top: 50px;
    width:100%;
}
.contact-from-address-div {
	    float: right;
	    padding-top: 50px;
	    width: 100%;
}
.cart-table .product-cart-info .btn-remove {
    color: #000 !important;
    z-index: 999999;
}
.how-it-works-box {
    float: left;
    margin-right: 22px;
    padding: 15px;
    width: 30%;
}

}
@media (max-width:679px) {
#readymadeshirt .content {
	width: 100%;
	margin-bottom: 30px;
}
#readymadeshirt .shirt_slider {
	width: 281px;
	margin: 0 auto;
	float: none;
}
.container .f_left {
	float: none !important;
	text-align: center;
}
#readymadeshirt h2::before {
	width: 60%;
	left: 20%;
}
#testimonial .nbs-flexisel-nav-left, #testimonial .nbs-flexisel-nav-right {
	top: 180px !important;
}
#testimonial .nbs-flexisel-nav-left {
	left: 43% !important
}
#testimonial .nbs-flexisel-nav-right {
	right: 43% !important
}
body,html{
	font-size:.80rem !important
	}
}
@media (max-width:650px) {
 li.pop_bottom_btn_set .cart_btn{
 	width: 100%;
 }
#right_panel{
	width:120px;
	padding:0 10px 0 0
	}
.variable_price p{
	font-size:18px;
	font-weight:bold
	}
.cart_btn a{
	font-size:14px;
	padding: 2px;
	line-height:54px
	}	
.cart_btn span.cart_text{
	display:none
	}
.variable_price{
	border:none
	}
.cart_btn{
	width:60px;
	height:60px;
	display:inline-block
	}
.rightPanelInner{
	text-align:right;
	}
.cart_btn span i{
	font-size:22px
	}
.variable_price p{
	text-align:right
	}	
.right_side_bar_btn li{
	margin:5px 0; 
	width:60px;
	height:60px
	}
.right_side_bar_btn{
	margin:5px 0
	}	
.right_side_bar_btn li img{
	max-width:65%
	}	
.right_side_bar_btn li a{
	font-size:13px
	}	
.cart_btn a i{
	font-size:25px !important
	}
#viewport .stepsbar_wrapper{
		 width:71%
		 }
.rightPanelInner{
	display:block;
	padding-top:30px
	}		 	
#viewport .stepsbar_wrapper{
	width:99%
	}
#popups  .responsive_close.close a{
	font-size:15px
}
.how-it-works-box {
    float: left;
    margin-right: 22px;
    padding: 15px;
    width: 100%;
}	
										 
}

@media (max-width:582px) {
.header_top .content li:first-child{
		 display:block !important;
	 }
.header_top .content {
	float: none;
	padding: 0;
	text-align: center;
}
.header_top .content li {
	float: none;
	display: inline-block;
}
.header-bottom .top_menu ul {
	padding: 0px 0 0;
	text-align: center;
}
.header-bottom .top_menu ul li {
	margin: 0 8px;
	color: #fff;
	float: none;
	display: inline-block;
}
.header-bottom .logo {
	width:100%;
	text-align:center;
	float:none	
}
.header-bottom .logo a{}

.header-bottom .top_menu{
	float:none;
	margin-top:15px
	}
.header-bottom{
	padding:15px 0
	}

.header-bottom .top_menu ul li span:not(circle){
	display:none
}

.da-slide h2 {
    
    width: 50%;
    top: 180px !important;
	font-size:2.3rem !important;
	line-height:42px !important
}
.da-slide .da-link{
	top:300px !important
	}
.header-bottom .top_menu ul li a{
	font-size:14px;
	}
.header-bottom .top_menu ul li a span.circle{
	width:19px;
	height:19px;
	line-height:17px;
	font-size:13px;
	margin-left:5px;
	}

/******** ALOKE  **********/	
	.display-single-price .cart-totals-wrapper {
    float: right;
    width: 100%;
}
/******** ALOKE END **********/	
}
@media (min-width:550px) and (max-width:976px) {
.navigation-part1 {
	width: 50%;
	float: left;
}
.navigation-part2 {
	width: 50%;
	float: right;
}
.navigation-part3 {
	width: 50%;
	float: left;
	clear: both;
}
}
@media (max-width:549px) {
	
	 
.navigation-part1, .navigation-part2 {
	width: 100%;
}
.navigation-part3, .navigation-part4 {
	width: 50%;
}
.navigation-part3, .navigation-part4 {
	margin: 20px 0;
}
.navigation-part4 h3 {
	text-align: right;
}
.navigation-part4 .customer-service ul {
	text-align: right;
}
.footer-logo {
	text-align: center;
}
.footer-social-icon ul {
	text-align: center;
}
#footer {
	padding: 35px 0 20px;
}
.copyright-section p {
	text-align: center;
}
.navigation-part2 h3 {
	text-align: center;
}
ul.about-nav2 {
	text-align: right;
}
.about-nav2 {
	width: 60%;
	float: left;
}
#testimonial .nbs-flexisel-nav-left {
	left: 41% !important
}
#testimonial .nbs-flexisel-nav-right {
	right: 41% !important
}
.shirtControls{
	left:10px
	}
.how-it-works-box {
    float: left;
    margin-right: 22px;
    padding: 15px;
    width: 100%;
}
}
@media (max-width:530px){
 	.variable_price p{
 		line-height: 20px !important;
 	}
 	.steps_bar{
 		width:100%;
 		overflow-x: scroll !important;
 	}
 	ul.steps_scroll{
 		text-align: left !important;
 		/*width: 150% !important;*/
 	}
 	#viewport .stepsbar_wrapper {
 		display: block !important;   
    left: 0 !important;   
    
	}
	#viewport .stepsbar_wrapper .stepsbar_inner_wrapper{
		display: block !important;
		width: 100% !important;
		left: 0 !important;
	}
.how-it-works-box {
    float: left;
    margin-right: 22px;
    padding: 15px;
    width: 100%;
}

 }
 @media (max-width:480px) {

/******* Ranit 2-09-16 ***************/
.productImg img:not(.easy_iron){
	width: 60%;
}
#saveInner{
	width: 100%;
	background: rgba(255,255,255, 1);
}
#saveInner ul li#input_area_for_save {
    width: 69%;
}
#fabric_section, #sleev_area, #emb_area{
	font-size: 15px;
	text-align: center;
}
#User_updated_info h4{
	padding-bottom: 20px;
}
#addto_Inner {
    width: 100%;
    margin: 0 auto;    
    padding: 0;
    height: 100%;
   }
.prevImg {
    width: 100%;
    height: 100px;
    padding: 0px;
    /*border: 1px solid gainsboro;*/
}
.prevInfo {
    width: 100%;
    height: auto;
    padding: 10px;
    border: 1px double gainsboro;
    background: rgba(255,255,255, .7);
}
.pop_bottom_btn_set .cart_btn{
	width: 100% !important;
}



	  body, html {
	font-size: 9px;
}
#readymadeshirt {
	padding: 60px 0 50px 0;
}
a.trans_btn {
	padding: 15px 15px;
}


#testimonial {
	padding: 50px 0 50px;
}
#testimonial .nbs-flexisel-nav-left {
	left: 41% !important;
	top: 220px !important
}
#testimonial .nbs-flexisel-nav-right {
	right: 36% !important;
	top: 220px !important
}
.da-slide h2 {
    
	font-size:1.8rem !important;
	line-height:42px !important
}
.header-bottom .logo{
	width:40%;
	margin:0 auto;
	}
.shirtControls{
	left:0;
	top:150px
	}
#popups .popup .popup_inner .popup_body ul li .productImg img.easy_iron{
	top:25%;
	left:-10px;
	}

	/******** ALOKE  **********/	
	.checkout-onepage-index .col-main .opc #opc-login .step .col-1 {
    width: 100%;
	}
	#customizeBody .header-bottom .logo{
		margin: 10px !important;
		float: left;
	}
}
/******** ALOKE END **********/	


}
@media (max-width:423px) {
}
@media (max-width:390px) {
	 li.line{
		display:none !important;	 
	 }
	 nav{
		 padding: 5px 0;
	 }
	 .header-bottom .top_menu ul li{
		margin:0 3px;		 
	 }
	 .header-bottom .top_menu ul li a{
		 font-size:13px;
	 }
	 
#testimonial .nbs-flexisel-nav-left {
	left: 38% !important;
	top: 280px !important
}
#testimonial .nbs-flexisel-nav-right {
	right: 32% !important;
	top: 280px !important
}
#testimonial {
	margin-bottom: 30px
}
.da-slide .da-link {
	font-size:14px !important;
}
body, html {
	font-size: 7px;
	
}
.rightPanelInner{
	padding-top:0
	}
.cart_btn{
	width:50px;
	height:100%;
	}
.cart_btn a{
	line-height:42px
	}
.right_side_bar_btn li{
	width:50px;
	height:50px;
	
	}	
#right_panel{
	width:90px;
	}	
.shirtControls{
	/*top:50px;*/
	}	
.shirtControls ul li#zoomViewport{
	background-size:constrain
	}
.shirtControls ul li#zoomViewport{
	background-position:2px center;
	}
.shirtControls ul li:hover{
	border:0 !important
	}
#popups #fabric.popup .popup_inner .popup_body ul li .productImg{
	display:block !important;
	width:100% !important;
	text-align:center;
	}	
#popups #fabric.popup .popup_inner .popup_body ul li .productPrice	{
	display:block !important;
	width:100% !important;
	text-align:center
	}	
#popups .popup .popup_inner .popup_body ul li .productImg img.easy_iron{

	right:25px;
	}
#popups .popup .popup_inner .header h4{
	font-size:19px !important;
	}					
}
 @media (max-width:345px) {
#rated_area a {
	float: none;
}
a.black_btn {
	padding: 15px 10px;
}
 .da-slide h2 {
    
	font-size:1.5rem !important;
	line-height:34px !important
}
.shirtControls ul li{
	width:47px;
	padding-left:10px
	}
}
@media (max-width:330px) {
	.header-bottom .top_menu ul li{
		margin:0 2px;
	}
.da-slide h2 {
    line-height: 26px !important;
}
#popups .popup .popup_inner .header h4{
	font-size:18px !important;
	}
}


/*5.9.2016 santanu */   

@media (min-width:320px) and (max-width:480px) {
.left_container img{
	display:none;
}
#rated_area {
    height: 100%;
    padding: 30px 0 !important;
}
.right_container h2{
	font-size:22px;
	line-height:30px;
}
.products-item .product-img-box .icon-links {
    left: 12px !important;
    top: 66%;
}

}
@media (min-width:320px) and (max-width:360px) {
.right_container {
    display: table;
    float: none;
    height: 100%;
    margin: 0 auto;
    width: 90%;
}
#season_sale .season_sale_inner .s_container_left{
	display:none;
}
#season_sale .season_sale_inner .s_container_left img{
	display:none;
}
#season_sale .season_sale_inner .s_container_right {
    display: block;
    float: left;
    height: 100%;
    padding: 25px;
    text-align: left;
    width: 50%;
}
#season_sale {
    padding: 20px 0;
}
#season_sale .season_sale_inner .s_container_right {
    background-color: rgba(0, 0, 0, 0.5);
    float: none;
    margin: 0 auto;
    width: 90%;
	text-align:center;
}
.right_wrapper > h2 {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
}
/* -------------------7.9.2016 aloke edit ------------------------*/
#season_sale .right_wrapper p {
    text-align: center;
}
.product-view .add-to-cart .qty-wrapper, .product-view .add-to-cart .qty-wrapper label {
    width: 100%;
}
.display-single-price .cart-table tfoot button {
    margin-bottom: 15px;
    padding: 2px 10px;
}
.display-single-price .cart-table .product-cart-image {
    width: inherit;
}
.cart-table .product-cart-info, .cart-table td[data-rwd-label] {
    width: 100%;
}

}

@media (min-width:361px) and (max-width:390px) {
#testimonial .nbs-flexisel-nav-left {
    top: 255px !important;
}
#testimonial .nbs-flexisel-nav-right {
    top: 255px !important;
	right:35% !important;
}
.display-single-price .cart-table tfoot button {
    margin-bottom: 15px;
    padding: 2px 10px;
}

}

@media (min-width:361px) and (max-width:480px) {
.right_container {
    display: table;
    float: none;
    height: 100%;
    margin: 0 auto;
    width: 90%;
}
#season_sale .season_sale_inner .s_container_left{
	display:none;
}
#season_sale .season_sale_inner .s_container_left img{
	display:none;
}
#season_sale .season_sale_inner .s_container_right {
    display: block;
    float: left;
    height: 100%;
    padding: 25px;
    text-align: left;
    width: 50%;
}
#season_sale {
    padding: 20px 0;
}
#season_sale .season_sale_inner .s_container_right {
    background-color: rgba(0, 0, 0, 0.5);
    float: none;
    margin: 0 auto;
    width: 90%;
	text-align:center;
}
.right_wrapper > h2 {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
}
/* -------------------7.9.2016 aloke edit ------------------------*/
#season_sale .right_wrapper p {
    line-height: 30px;
    text-align: center;
}
#season_sale a.trans_btn {
    font-size: 16px;
}
.product-view .add-to-cart .qty-wrapper, .product-view .add-to-cart .qty-wrapper label {
    width: 100%;
}
.display-single-price .cart-table tfoot button {
    margin-bottom: 15px;
}
.display-single-price .cart-table .product-cart-image {
    width: 25%;
}

}
@media (min-width:481px) and (max-width:640px) {
#rated_area {
    height: 100%;
    padding: 30px;
}
.left_container {
     display: none; 
}
.right_container {
    display: table;
    float: none;
    height: 100%;
    margin: 0 auto;
    width: 100%;
}
/* -------------------7.9.2016 aloke edit ------------------------*/
#season_sale .season_sale_inner .s_container_left{
	display:none;
}
#season_sale .season_sale_inner .s_container_left img{
	display:none;
}
#season_sale .season_sale_inner .s_container_right {
    display: table;
    float: left;
    height: 100%;
    padding: 25px;
    text-align: left;
    width: 50%;
}
#season_sale {
    padding: 20px 0;
}
#season_sale .season_sale_inner .s_container_right {
    background-color: rgba(0, 0, 0, 0.5);
    float: none;
    margin: 0 auto;
    width: 90%;
	text-align:center;
}
.right_wrapper > h2 {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
}

#season_sale .right_wrapper p {
    line-height: 30px;
    text-align: center;
}
#season_sale a.trans_btn {
    font-size: 16px;
}
a.black_btn {
    font-size: 14px;
}
a.trans_btn{
    font-size: 14px;
}
.product-view .add-to-cart .qty-wrapper, .product-view .add-to-cart .qty-wrapper label {
    width: 100%;
}
.display-single-price .cart-table tfoot button {
    margin-bottom: 15px;
}

}

@media (min-width:641px) and (max-width:767px) {
#rated_area {
    height: 100%;
    padding: 30px;
}
.left_container {
     display: none; 
}
.right_container {
    display: table;
    float: none;
    height: 100%;
    margin: 0 auto;
    width: 100%;
}
/* -------------------7.9.2016 aloke edit ------------------------*/
#season_sale .season_sale_inner .s_container_left{
	display:none;
}
#season_sale .season_sale_inner .s_container_left img{
	display:none;
}
#season_sale .season_sale_inner .s_container_right {
    display: table;
    float: left;
    height: 100%;
    padding: 25px;
    text-align: left;
    width: 50%;
}
#season_sale {
    padding: 35px 0;
}
#season_sale .season_sale_inner .s_container_right {
    background-color: rgba(0, 0, 0, 0.5);
    float: none;
    margin: 0 auto;
    width: 90%;
	text-align:center;
}
.right_wrapper > h2 {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
}

#season_sale .right_wrapper p {
    line-height: 30px;
    text-align: center;
}
#season_sale a.trans_btn {
    font-size: 16px;
}
a.black_btn {
    font-size: 14px;
}
a.trans_btn{
    font-size: 14px;
}

#testimonial .nbs-flexisel-nav-left {
    top: 200px !important;
}
#testimonial .nbs-flexisel-nav-right {
    top: 200px !important;
	right: 42% !important;
}

}
@media (min-width:768px) and (max-width:987px) {
#rated_area {
    height: 100%;
    padding: 30px;
}
.left_container {
     display: none; 
}
.right_container {
    display: table;
    float: none;
    height: 100%;
    margin: 0 auto;
    width: 100%;
}
/* -------------------7.9.2016 aloke edit ------------------------*/
#season_sale .season_sale_inner .s_container_left{
	display:none;
}
#season_sale .season_sale_inner .s_container_left img{
	display:none;
}
#season_sale .season_sale_inner .s_container_right {
    display: table;
    float: left;
    height: 100%;
    padding: 25px;
    text-align: left;
    width: 50%;
}
#season_sale {
    padding: 35px 0;
}
#season_sale .season_sale_inner .s_container_right {
    background-color: rgba(0, 0, 0, 0.5);
    float: none;
    margin: 0 auto;
    width: 90%;
	text-align:center;
}
.right_wrapper > h2 {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
}

#season_sale .right_wrapper p {
    line-height: 30px;
    text-align: center;
}
#season_sale a.trans_btn {
    font-size: 16px;
}
a.black_btn {
    font-size: 14px;
}
a.trans_btn{
    font-size: 14px;
}
#testimonial .nbs-flexisel-nav-left {
    top: 180px !important;
}
#testimonial .nbs-flexisel-nav-right {
    top: 180px !important;
	right: 42% !important;
}
.toolbar .pager {
    float: right;
    overflow: visible;
    width: 45%;
}
.product-view .add-to-cart .qty-wrapper, .product-view .add-to-cart{
    width: 100%;
}
.product-view .add-to-cart .qty-wrapper label {
    float: left;
    margin-right: 7px;
    width: 8%;
}


}

@media (min-width:988px) and (max-width:1100px) {

#readymadeshirt .shirt_slider {
    position: relative;
    right: 20px;
   
}
.toolbar .pager {
    float: right;
    overflow: visible;
    width: 33%;
}

}

@media (min-width:1200px) and (max-width:1300px) {
#testimonial .nbs-flexisel-nav-left {
    top: 150px !important;
}
#testimonial .nbs-flexisel-nav-right {
    top: 150px !important;
	right: 45% !important;
}

}

@media (min-width:240px) and (max-width:770px) {
.category-products .toolbar .sorter {
    float: left;
    margin-bottom: 5px;
    width: 40% !important;
}
.category-products .toolbar .sorter > .view-mode {
    float: left;
}

.category-products .toolbar .pager {
    float: right;
    overflow: visible;
    width: 55%;
	clear:none;
}
.category-products .toolbar .pager .count-container {
    float: right;
    text-align: right;
    width: auto;;
}

}
@media (min-width:600px) and (max-width:810px) {
.cart-footer-actions .or {
    display: none;
}
.display-single-price .cart-table tfoot button {
    margin-bottom: 15px;
}
}