
.clearout {
height:20px;
clear:both;
}

#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
display:none;

}

.nbs-flexisel-container {
    position:relative;
    /*max-width:89%;*/
	 max-width:100%;
	
	margin-left:auto;
	margin-right:auto;
	
}
.nbs-flexisel-ul {
    position:relative;
    width:9999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;  
}
.nbs-flexisel-ul .image_wrap{
	 width:80%;
	/* border:1px solid #777;*/
	 min-height:85px !important;
	}
.nbs-flexisel-inner {
    overflow:hidden;
    float:left;
    width:100%;
   /* background:#fcfcfc;
    background: #fcfcfc -moz-linear-gradient(top, #fcfcfc 0%, #eee 100%); /* FF3.6+ 
    background: #fcfcfc -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#eee)); 
    background: #fcfcfc -webkit-linear-gradient(top, #fcfcfc 0%, #eee 100%); 
    background: #fcfcfc -o-linear-gradient(top, #fcfcfc 0%, #eee 100%); 
    background: #fcfcfc -ms-linear-gradient(top, #fcfcfc 0%, #eee 100%); 
    background: #fcfcfc linear-gradient(top, #fcfcfc 0%, #eee 100%); 
    border:1px solid #ccc;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px; */
}

.nbs-flexisel-item {
    float:left;
    margin:0px 0px 0px 0;
    padding:0px;
    cursor:pointer;
    position:relative;
    line-height:0px;
	
}
.nbs-flexisel-item img {
    width: 100%;
    cursor: pointer;
    position: relative;
   
   /* max-width:120px;*/
   display:block
   
}

/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    width: 44px;
    height: 44px; 
    position: absolute;
    cursor: pointer;
    z-index: 100;
   /* opacity: 0.5;*/
}

.nbs-flexisel-nav-left {
    left:-20px;
	/*top:200px !important;*/
    background:url(../images/left_arrow.png);
}

.nbs-flexisel-nav-right {
    right:-20px;
	/*top:200px !important;*/
   background:url(../images/right_arrow.png);
}
/*.nbs-flexisel-nav-right:hover {
    background:url(../images/next_hover.png) repeat scroll 0% 0%;
}
.nbs-flexisel-nav-left:hover {
    background:url(../images/prev_hover.png) repeat scroll 0% 0%;*/
	

#readymadeshirt{
	position:relative;
	}	
#readymadeshirt .nbs-flexisel-nav-left, #readymadeshirt .nbs-flexisel-nav-right{
	top:150px !important
	}  	
	
#testimonial .nbs-flexisel-nav-left{
	background:url(../images/left_test.png) no-repeat !important;
	top:130px ;
	left:45% 
	}	
	
#testimonial .nbs-flexisel-nav-right{
	background:url(../images/right_test.png) no-repeat !important;
	top:130px ;
	right:46%
	}	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	